/*!
 * Custom Bootstrap, based on Twitter Bootstrap
 * This styleguide imports all scss files from original bootstrap
 * and overrides only those that are modified with new custom files
 */

// Main Scss

//Bootstrap

// And this
@import "./styles/bootstrap/bootstrap";

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
li,
a,
span,
small {
  font-family: "Robot", sans-serif !important;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 80vh;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  align-self: stretch;
  flex: 1;

  .title {
    font-weight: 900;
  }
}

p {
  font-size: 1rem;
  line-height: 1.9;
}

section {
  padding: 40px 0;
}

.input-group .form-control {
  color: $gray;
  font-size: 0.9rem;
  &::placeholder {
    color: #b6b6b6;
    font-weight: 500;
  }
}

.apply-search {
  background: rgba(25, 65, 123, 0.85);
  border-radius: 8px;
  padding: 1.5rem 5.5rem;
}

.bg-blue--gradient {
  background-image: linear-gradient(97deg, #004c94, #009cdb);
}

.bg-business {
  background-image: url("./images/business-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg-header {
  background-image: url("./images/header-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: scroll, fixed;
}

.btn {
  font-size: 1rem;
  height: 42px;
}

.carousel {
  &-indicators {
    margin: 0;
    li {
      background-color: $gray-light;
      border-radius: 100%;
      height: 12px;
      margin: 0 5px;
      width: 12px;

      &.active {
        background-color: #b2b4b2;
      }
    }
  }
}

.card {
  box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border: 0;
}

.card-large {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 500px;
}

.card-team {
  flex-direction: initial;
  min-height: 380px;
  &-description {
    margin-left: 10px;

    p {
      line-height: 1.4;
    }
  }
}

.card-results {
  border-radius: 0;
  min-height: 300px;
  padding-bottom: 60px !important;

  img {
    width: 60%;
  }

  .btn {
    bottom: 20px;
    width: 180px;
  }
}

.container-fluid {
  @extend .custom-container-fluid;
}

.divider {
  width: 50%;
  height: 4px;
  margin: 40px auto 20px;
  background-color: #ffb500;
}

.navbar {
  &-container {
    background-image: linear-gradient(45deg, $primary, #3e91ce);
    height: 88px;
  }
  .nav {
    &-item {
      &.active {
        .nav-link {
          font-weight: 600 !important;
        }
      }
    }
    &-link {
      font-size: 0.9rem;
      color: $white !important;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $secondary;
      }
    }
  }
  .custom-rounded-pill {
    border-radius: 50rem !important;
    a {
      color: $black !important;
      font-weight: bold;
    }
  }
}

.team-category {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid #ffb530;
  border-radius: 100%;
  text-align: center;
}

.team-category-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.75rem;
  line-height: 40px;
  font-weight: 700;

  sup {
    right: 17px;
  }
}

.team-category-paragraph {
  padding-top: 20px;
  padding-bottom: 0px;
  color: $gray;
  font-size: 24px;
  line-height: 180%;
  font-weight: 300;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
}

.section-career {
  &-title {
    min-height: 800px;
  }

  .bg-blue--gradient {
    height: 200px;
  }

  .card-career {
    border-radius: 6px;

    &:first-child {
      margin-bottom: 40px;
      margin-top: -30px;
    }

    &-title {
      font-size: 2rem;
    }

    &-description {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
}

.section-openings {
  .card-opening {
    min-height: 490px;
  }

  .nav-pills {
    .nav-link {
      border-radius: 50rem !important;
      font-size: 1.1rem;
      font-family: "Roboto", sans-serif;
      padding: 2px 0;
      text-align: center;
      text-transform: uppercase;
      width: 200px;

      &.active {
        background-color: #4aa4d2;
      }
    }
  }
}

.section-testimonials {
  .carousel {
    padding: 60px 0;
  }
  .testimonial {
    min-height: 430px;
    &-quote {
      q {
        &::before,
        &::after {
          display: none;
        }

        font-size: 1.8rem;
      }
    }
    &-image {
      text-align: center;
      img {
        border-radius: 100%;
        height: 250px;
      }
    }
  }
}

.section-grow {
  background-image: url("./images/growWithUs/circle-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 50vh;
  background-size: cover;
}

.select-style {
  border-radius: 3px;
  overflow: hidden;
  border-radius: 3px;
  overflow: hidden;
  background: url(images/chevron-down.svg);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 95% 50%;
  background-size: 12px;
}

.select-style select {
  padding: 10px 15px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  color: $gray;
  font-size: 0.9rem;
}

.select-style select:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  section {
    padding: 60px 0;
  }

  .card-large {
    min-height: 600px;
  }

  .section-career {
    margin-bottom: 163px;
    .card-career {
      position: absolute;
      top: -50px;
      width: 90%;

      &:first-child {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .card-team {
    min-height: 300px;
    img {
      position: absolute;
      left: -50px;
      height: 150px;
      width: 150px;
    }

    &-description {
      margin-left: 90px;
    }
  }

  .section-testimonials {
    .testimonial {
      min-height: 390px;
      &-quote {
        width: 65%;
        q {
          font-size: 2.2rem;
        }
      }
      &-image {
        width: 35%;
      }
    }
  }

  .section-newsletter {
    .newsletter-form {
      .input-group {
        height: 40px;
        width: 60%;

        &-submit {
          width: 150px;
        }
      }
    }
  }
}

// @media screen and (min-width)
@media screen and (min-width: 1366px) {
  .card-team {
    min-height: initial;
  }

  .section-career {
    .card-career {
      &-description {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .card-large {
    min-height: 530px;
  }

  .section-openings {
    .card-opening {
      min-height: 550px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .custom-container-fluid {
    width: 85%;
  }
}
